
.header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    background-color: #f1dfe6; /* Couleur de fond de l'en-tête */
    border-bottom: 1px solid #ddd; /* Bordure inférieure de l'en-tête */
    padding: 10px 20px; /* Espacement interne */
    border-radius: 4px;
  }

  .form {
    display: flex;
    flex-wrap: wrap;
    gap: 10px; /* Espacement entre les éléments */
}

  