html, body {
  height: 100%; /* Assure que le body prend toute la hauteur de la fenêtre */
  margin: 0; /* Supprime les marges par défaut */
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr; /* 250px pour le menu et 1fr pour le contenu principal */
  min-height: 100vh; /* Assure que le conteneur prend au moins la hauteur de la fenêtre */
 }

/* Contenu principal */
.container-column {
  flex: 1; /* Prend tout l'espace disponible après l'en-tête */
  padding: 20px; /* Espacement interne */
  background-color: #f5f2f2;
}

/* Menu latéral */
aside {
  background-color: #f1dfe6; /* Couleur de fond du menu */
  padding: 30px;
  height: 100%; /* Remplit toute la hauteur du conteneur */
  box-sizing: border-box; /* Inclut padding dans la hauteur totale */
  border-radius: 10px; /* Coins arrondis pour le menu */
  overflow: hidden; /* Assure que le contenu ne dépasse pas les coins arrondis */
}









