html, body {
  height: 100%; /* Assure que le body prend toute la hauteur de la fenêtre */
  margin: 0; /* Supprime les marges par défaut */
}

.container {
  display: grid;
  grid-template-columns: 250px 1fr; /* 250px pour le menu et 1fr pour le contenu principal */
  min-height: 100vh; /* Assure que le conteneur prend au moins la hauteur de la fenêtre */
  }

/* Contenu principal */
.container-column {
  flex: 1; /* Prend tout l'espace disponible après l'en-tête */
  padding: 20px; /* Espacement interne */
  background-color: #f5f2f2;
  border-top-right-radius: 15px;
}

/* Menu latéral */
aside {
  background-color: #f1dfe6; /* Couleur de fond du menu */
  padding: 30px;
  height: 100%; /* Remplit toute la hauteur du conteneur */
  box-sizing: border-box; /* Inclut padding dans la hauteur totale */
  border-top-left-radius: 15px; /* Coins arrondis pour le menu */
  overflow: hidden; /* Assure que le contenu ne dépasse pas les coins arrondis */
}

/* Media Queries pour les petits écrans */
@media (max-width: 768px) {
  .container {
    display: flex; /* Utiliser flexbox pour les petits écrans */
    flex-direction: column; /* Organiser le contenu en colonne */
  }

  /* aside {
    display: flex;
    flex-direction: row; /* Menu horizontal */
    /* padding: 15px; Réduit le padding pour les petits écrans */
    /* height: auto; Ajuste la hauteur en fonction du contenu */
    /* border-radius: 15px; Coins arrondis pour le menu */
    /* overflow-x: auto; Permet le défilement horizontal si nécessaire */
    /* flex-wrap: nowrap; Évite les retours à la ligne pour le menu */
    /* gap: 10px; Espacement entre les éléments du menu */
  /* } */ */

  .container-column {
    flex: 1; /* Le contenu principal prend toute la largeur disponible */
    margin-top: 10px; /* Espacement au-dessus du contenu principal */
  }
}

/* Media Queries pour les très petits écrans */
@media (max-width: 480px) {
  aside {
    padding: 10px; /* Réduit encore le padding */
  }
}





