#root {
  margin: 0 auto; /* Centre le conteneur horizontalement */
  padding: 2rem; /* Espacement interne */
  height: 100vh; /* Hauteur de la fenêtre de visualisation */
  background-image: url('./assets/fondecranpastel.jpg'); 
  background-size: cover; /* Couvre toute la zone sans déformation */
  background-position: center; /* Centre l'image dans l'élément */
  background-repeat: no-repeat; /* Évite la répétition de l'image */
  background-attachment: fixed; /* Fixe l'image de fond pendant le défilement */
}



